<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>用户管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/main.css" type="text/css"/>
<link rel="stylesheet" href="__ADMINCSS__/user.css" type="text/css"/>
<script src="__PUBLIC__/jquery2.js" type="text/javascript"></script>
<script src="__PUBLIC__/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/jquery.cookie.js" type="text/javascript"></script>
<script src="__PUBLIC__/usertip.js" type="text/javascript"></script>
<script src="__ADMINJS__/deleteUser.js" type="text/javascript"></script>
</head>
    <body>
    	<div id="header">
    		<include file="./Application/Home/View/Public/header.html" />
    	</div>
    	<div id="count">
    		当前用户总数：{$user}
    	</div>
    	<div id="userform">
    		<p>
                <a href="/lyj/BookStore/web/index.php/Admin/User/addUser.html"><input type="button" value="添加账户" style="color:black;" /></a>
    			<input type="button" name="del_btn" value="删除所选账户" style="color:black;"/>
    		</p>
    		<br />
    		<p id="title">
    			<span>账号</span>
    			<span>用户名</span>
    			<span>性别</span>
    		</p>
    		<br />
    		<foreach name="userlist" item="ul_vo"> 
				<div class="userlist">
					<input type="checkbox" name="delete" class="list_cb"/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="account">{$ul_vo.account}</span>
					<span>{$ul_vo.username}</span>
					<span>{$ul_vo.sex}</span>
					<!-- <input type="button" value="编辑" style="color:black;"/> -->
					<a href="{:U('PersonalInfo/personalInfo','id='.$ul_vo['userid'])}" style="text-decoration:underline;" >编辑</a>
					<br />
					<br />
				</div>
    		</foreach>
    	</div>
    </body>
</html>