*{
	margin: 0;
	padding: 0;
	color:white;
}
#content{
	width: 500px;
	height: 300px;
	margin-left: 330px;
	padding-top: 20px;
}
#content p{
	margin-bottom: 15px;
}
.title{
	width: 100px;
	float: left;
	text-align: right;
}