<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>注册成功</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/main.css" type="text/css"/>
<style>
	.reg_jump{
		color: white;
		margin-left: 330px;
		margin-top: 160px;
	}
	.reg_jump a{
		text-decoration: underline;
	}
</style>
</head>
    <body>
    	<div class="reg_jump">
    		<include file="./Application/Home/View/Public/header.html" />
			<p>
				恭喜你！你已注册成功！<a href="{: U('Index/index')}">点击此处跳转至主页>></a>
			</p>
		</div>
    </body>
</html>
	
	



