<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>书本详情</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/css/main.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="__HOME__Css/details.css"/>
<!-- <link rel="stylesheet" href="./Application/Home/Common/Css/details.css" type="text/css" /> -->
<script src="__PUBLIC__/jquery2.js" type="text/javascript"></script>
<script src="__PUBLIC__/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/jquery.cookie.js" type="text/javascript"></script>
<script src="__PUBLIC__/usertip.js" type="text/javascript"></script>
<script src="__HOMEJS__/jiajian.js" type="text/javascript"></script>
<script src="__HOMEJS__/personalMenu.js" type="text/javascript"></script>
<script src="__HOMEJS__/cart.js" type="text/javascript"></script>
</head>
    <body>
    	<div id="header">
    		<include file="./Application/Home/View/Public/header.html" />
    	</div>
    	<div id="container">
            <div id="index_nav">
                <ul>
                    <li><a href="../Details/details.html">文艺</a></li>
                    <li><a href="./economy.html">经管</a></li>
                    <li><a href="./society.html">社科</a></li>
                    <li><a href="./life.html">生活</a></li>
                    <li><a href="./education.html">教育</a></li>
                    <li><a href="./technology.html">科技</a></li>
                    <li><a href="./children.html">童书</a></li>
                    <li><a href="./import.html">进口书</a></li>
                    <li><a href="./magazine.html">期刊杂志</a></li>
                    <li><a href="./network.html">网文</a></li>
                </ul>
            </div>
            
            <div id="jianjie">
                <div id="left_img">
                    <div id="img">
                        <volist name="arr" id="details_vo">
                            <img src="__PUBLIC__/images/books/{$details_vo['img']}" alt="" />
                        </volist>
                    </div>
                    <div id="img_list">
                         <p>img_list</p>
                    </div>
                </div>
                <div id="right_content">
                    <div id="right_content_header">
                        <input type="hidden" value="{$details_vo.boaid}" name="bookId" />
                        <h3 id="bookName">{$details_vo.bookname}</h3>
                        <br />
                        <p>{$details_vo.bookinfo}</p>
                    </div>
                    <div id="right_content_center">
                        <div id="messbox_info">
                            <span id="author">
                                作者:&nbsp;{$details_vo['author']}
                            </span>
                            <span id="publisher">
                                &nbsp;&nbsp;&nbsp;&nbsp;出版社:&nbsp;{$details_vo['publisher']}
                            </span>
                            <span id="pubTime">
                                &nbsp;&nbsp;&nbsp;&nbsp;出版时间:&nbsp;{$details_vo['pubyear']}年{$details_vo['pubmonth']}月
                            </span>
                            <br />
                            <br />
                            <span>
                                页数:&nbsp;{$details_vo['totalpage']}
                            </span>
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;字数:&nbsp;{$details_vo['totalword']}
                            </span>
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;出版次数:&nbsp;{$details_vo['pubnum']}
                            </span>
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;ISBN:&nbsp;{$details_vo['isbn']}
                            </span>
                        </div>
                        <br />
                        <div id="comments">
                            当前评价数:0条
                        </div>
                        <br />
                        <div id="price">
                            <div class="priceNow">
                                <p>当当价</p>
                                <p class="nowprice">¥<span id="nowPrice">{$details_vo['price1']}</span></p>
                            </div>
                            <div class="priceOri">
                                <span>¥{$details_vo['price2']}</span>
                            </div>
                        </div>
                    </div>
                    <div id="right_content_check">
                        <span>
                            配送至
                            <select name="" id="dizhi">
                                <option value="">北京</option>
                                <option value="">福州</option>
                            </select>
                        </span>
                        <br />
                        <br />
                        <span>
                            服&nbsp;&nbsp;&nbsp;务 由&nbsp;<i>"当当"</i>&nbsp;&nbsp;发货，并提供售后服务。
                        </span>
                    </div>
                    <div class="buy">
                        <input type="text" value="1" name="number"/>
                        <div id="jiajiankuang">
                            <span id="jia">+</span>
                            <span id="jian">-</span>
                        </div>
                        <div id="car">
                            <img src="__HOMEIMG__/buy_car.jpg" id="cartBtn" alt="" />
                        </div>
                    </div>
                </div>
            </div>
    		<div id="content">
    			
    		</div>
    	</div>
    </body>
</html>