*{
	margin: 0;
	padding: 0;
	color:white;
}
#AllData{
	width: 635px;
	height: 100px;
/*	background-color: blue;*/
	margin-top: 70px;
	margin-left: 330px;
}
#AllUser{
	width: 200px;
	height: 50px;
	float: left;
}
#AllOrder{
	width: 200px;
	height: 50px;
	float: left;
}
#AllBook{
	width: 200px;
	height: 50px;
	float: left;
}